In [43]:
import pandas as pd

In [44]:
# from google.colab import drive
# drive.mount('/content/drive')

In [45]:
# Import counties data file form local machine
test_addresses_path_local = (r'C:\Users\Saif\Downloads\addresses_for_task.csv')

print(test_addresses_path_local)

df_test = pd.read_csv(test_addresses_path_local)

# create new columns with ',' as separator
df_test['Rd or Local Area'] = df_test['Address'].apply(lambda x:x.split(',')[0])
df_test['Townland'] = df_test['Address'].apply(lambda x:x.split(',')[1])
df_test['County'] = df_test['Address'].apply(lambda x:x.split(',')[-1])

C:\Users\Saif\Downloads\addresses_for_task.csv

In [46]:
df_test.head(5)

,Address,Rd or Local Area,Townland,County
0,"Coolnakisha, Leighlinbridge, carlow",Coolnakisha,Leighlinbridge,carlow
1,"Castlequarter, Cratloe, clare",Castlequarter,Cratloe,clare
2,"Killagh, Doolin, clare",Killagh,Doolin,clare
3,"Springhill, Ardnacrusha, clare",Springhill,Ardnacrusha,clare
4,"aghern east, conna, cork",aghern east,conna,cork

In [47]:
df_test['Address'][0]

'Coolnakisha, Leighlinbridge, carlow'

In [48]:
# values contain leading and trailing whitespaces
df_test['County'][0]

' carlow'

In [49]:
# removing whitespaces from County Column
df_test['County'] = df_test['County'].apply(lambda x: x.strip())
df_test['County'][0]

'carlow'

In [50]:
# Import counties data file form local machine
counties_path_local = (r'C:\Users\Saif\Downloads\Counties_-_OSi_National_Placenames_Gazetteer.csv')

print(counties_path_local)

df_counties_data = pd.read_csv(counties_path_local)

C:\Users\Saif\Downloads\Counties_-_OSi_National_Placenames_Gazetteer.csv

In [51]:
df_counties_data.head(5)

,OBJECTID,County,Contae,Local_Government_Area,Limistéar_Rialtas_Áitiúil,Classification,Cineál,Gaeltacht,Town_Classification,ID,...,Alternative_Name,IG_E,IG_N,ITM_E,ITM_N,Irish_Validation,Legislation,Validated_By,Date_,Comment_
0,1,CARLOW,Ceatharlach,CARLOW,NaN,C,Co,N,NaN,10000,...,NaN,277734,163675,677668,663717,4,519,FJF,1179273600000,NaN
1,2,CAVAN,An Cabhán,CAVAN,NaN,C,Co,N,NaN,20000,...,NaN,243599,300462,643541,800474,4,519,FJF,1179273600000,NaN
2,3,CLARE,An Clár,CLARE,NaN,C,Co,N,NaN,30000,...,,129521,179535,529487,679574,4,519,FJF,1179273600000,NaN
3,4,CORK,Corcaigh,CORK/CORK CITY,NaN,C,Co,Y,NaN,40000,...,NaN,147540,82041,547502,582101,4,519,FJF,1179273600000,NaN
4,5,DONEGAL,Dún na nGall,DONEGAL,NaN,C,Co,Y,NaN,50000,...,NaN,200343,402042,600295,902033,4,519,FJF,1179273600000,NaN

In [52]:
df_counties = df_counties_data.copy()
df_counties.head(5)

,OBJECTID,County,Contae,Local_Government_Area,Limistéar_Rialtas_Áitiúil,Classification,Cineál,Gaeltacht,Town_Classification,ID,...,Alternative_Name,IG_E,IG_N,ITM_E,ITM_N,Irish_Validation,Legislation,Validated_By,Date_,Comment_
0,1,CARLOW,Ceatharlach,CARLOW,NaN,C,Co,N,NaN,10000,...,NaN,277734,163675,677668,663717,4,519,FJF,1179273600000,NaN
1,2,CAVAN,An Cabhán,CAVAN,NaN,C,Co,N,NaN,20000,...,NaN,243599,300462,643541,800474,4,519,FJF,1179273600000,NaN
2,3,CLARE,An Clár,CLARE,NaN,C,Co,N,NaN,30000,...,,129521,179535,529487,679574,4,519,FJF,1179273600000,NaN
3,4,CORK,Corcaigh,CORK/CORK CITY,NaN,C,Co,Y,NaN,40000,...,NaN,147540,82041,547502,582101,4,519,FJF,1179273600000,NaN
4,5,DONEGAL,Dún na nGall,DONEGAL,NaN,C,Co,Y,NaN,50000,...,NaN,200343,402042,600295,902033,4,519,FJF,1179273600000,NaN

In [53]:
# Checking if 'English_Name' and 'County' have same values
df_counties['English_Name'].equals(df_counties['County'])

True

In [54]:
# Remove columns name we don't need
df_counties = df_counties[['English_Name','ID', 'IG_E', 'IG_N', 'ITM_E', 'ITM_N']]
df_counties.head(5)

  English_Name     ID    IG_E    IG_N   ITM_E   ITM_N
0       CARLOW  10000  277734  163675  677668  663717
1        CAVAN  20000  243599  300462  643541  800474
2        CLARE  30000  129521  179535  529487  679574
3         CORK  40000  147540   82041  547502  582101
4      DONEGAL  50000  200343  402042  600295  902033

In [55]:
# Function to convert ITM to WGS84 coordinates

from math import *

############################################################################

# Meridian Arc

############################################################################

def arcmer(a,equad,lat1,lat2):

    b=a*sqrt(1-equad)

    n=(a-b)/(a+b)

    a0=1.+((n**2)/4.)+((n**4)/64.)

    a2=(3./2.)*(n-((n**3)/8.))

    a4=(15./16.)*((n**2)-((n**4)/4.))

    a6=(35./48.)*(n**3)



    s1=a/(1+n)*(a0*lat1-a2*sin(2.*lat1)+a4*sin(4.*lat1)-a6*sin(6.*lat1))

    s2=a/(1+n)*(a0*lat2-a2*sin(2.*lat2)+a4*sin(4.*lat2)-a6*sin(6.*lat2))

    return s2-s1

###############################################################################
#
# Transverse Mercator Inverse Projection
#
###############################################################################
def xy2geo(m,p,a,equad,lat0,lon0):

    lat0=radians(lat0)
    lon0=radians(lon0)

    sigma1=p

    fil=lat0+sigma1/(a*(1-equad))

    deltafi=1

    while deltafi > 0.0000000001:

        sigma2=arcmer(a,equad,lat0,fil)

        RO=a*(1-equad)/((1-equad*(sin(fil)**2))**(3./2.))

        deltafi=(sigma1-sigma2)/RO

        fil=fil+deltafi 


    N=a/sqrt(1-equad*(sin(fil))**2)

    RO=a*(1-equad)/((1-equad*(sin(fil)**2))**(3./2.))

    t=tan(fil)

    psi=N/RO

    lat=fil-(t/RO)*((m**2)/(2.*N))+(t/RO)*((m**4)/(24.*(N**3)))*(-4.*(psi**2)-9.*psi*(1.-t**2)+12.*(t**2))-(t/RO)*(m**6/(720.*(N**5)))*(8.*(psi**4)*(11.-24.*(t**2))-12.*(psi**3)*(21.-71.*(t**2))+15.*(psi**2)*(15.-98.*(t**2)+15.*(t**4))+180.*psi*(5.*(t**2)-3.*(t**4))-360.*(t**4))+(t/RO)*((m**8)/(40320.*(N**7)))*(1385.+3633.*(t**2)+4095.*(t**4)+1575.*(t**6))

    lon=(m/(N))-((m**3)/(6.*(N**3)))*(psi+2.*(t**2))+((m**5)/(120.*(N**5)))*(-4.*(psi**3)*(1.-6.*(t**2))+(psi**2)*(9.-68.*(t**2))+72.*psi*(t**2)+24.*(t**4))-((m**7)/(5040.*(N**7)))*(61.+662.*(t**2)+1320.*(t**4)+720.*(t**6))

    lon=lon0+lon/cos(fil)

    lat=degrees(lat)
    lon=degrees(lon)

    return lat,lon


#############################################################################

# Irish Transverse Mercator - Inverse

#############################################################################

def itm2geo(x,y):

    # GRS-80

    a = 6378137.

    equad =0.00669437999        

    # Natural Origin 

    lat0=53.5

    lon0=-8.

    k0=0.999820

    p = (y - 750000.) /k0

    m = (x - 600000.) /k0

    lat,lon = xy2geo(m,p,a,equad,lat0,lon0)

    return lat,lon

#############################################################################

# Test values 

#############################################################################             
#lat=53.5

#lon=-8.

# test = itm2geo(600000.,750000.)


# test = itm2geo(643541, 800474)


# print ("latitude= %.16f" %test[0])
# print ("longitude= %.16f" %test[1])

In [56]:
# applying convertor function to df_counties | converting tuple to str | remove '(' & ')'
df_counties['Lat, Long'] = df_counties.apply(lambda x: itm2geo(x['ITM_E'], x['ITM_N']), axis=1).astype(str).apply(lambda x:x.replace('(','')).apply(lambda x:x.replace(')',''))

# 
# df_counties['Lat, Long'] = df_counties['Lat, Long'].astype(str)
# df_counties['Lat, Long'].agg(' '.join)

# create new columns with ',' as separator
df_counties['Latitude'] = df_counties['Lat, Long'].apply(lambda x:x.split(',')[0])
df_counties['Longitude'] = df_counties['Lat, Long'].apply(lambda x:x.split(',')[1])

# drop 'Lat, Long' column
df_counties = df_counties.drop('Lat, Long', 1)

In [57]:
df_counties.head(5)

,English_Name,ID,IG_E,IG_N,ITM_E,ITM_N,Latitude,Longitude
0,CARLOW,10000,277734,163675,677668,663717,52.71897854110081,-6.850367224077807
1,CAVAN,20000,243599,300462,643541,800474,53.9517459661659,-7.336662850672426
2,CLARE,30000,129521,179535,529487,679574,52.862452948649015,-9.047161723665381
3,CORK,40000,147540,82041,547502,582101,51.988470514798514,-8.764354359249522
4,DONEGAL,50000,200343,402042,600295,902033,54.8661176490957,-7.995404660874215

In [58]:
# # #

In [59]:
df_test.head(5)

,Address,Rd or Local Area,Townland,County
0,"Coolnakisha, Leighlinbridge, carlow",Coolnakisha,Leighlinbridge,carlow
1,"Castlequarter, Cratloe, clare",Castlequarter,Cratloe,clare
2,"Killagh, Doolin, clare",Killagh,Doolin,clare
3,"Springhill, Ardnacrusha, clare",Springhill,Ardnacrusha,clare
4,"aghern east, conna, cork",aghern east,conna,cork

In [60]:
df_counties["English_Name"] = df_counties["English_Name"].str.lower()
df_counties.head(1)

,English_Name,ID,IG_E,IG_N,ITM_E,ITM_N,Latitude,Longitude
0,carlow,10000,277734,163675,677668,663717,52.71897854110081,-6.850367224077807

In [61]:
# Merging
df_test_merged = pd.merge(left = df_test, right = df_counties, left_on='County', right_on='English_Name')
df_test_merged = df_test_merged[['Address','County','ID','Latitude', 'Longitude']]

In [62]:
df_test_merged.head(5)

,Address,County,ID,Latitude,Longitude
0,"Coolnakisha, Leighlinbridge, carlow",carlow,10000,52.71897854110081,-6.850367224077807
1,"The Ridge, Old Leighlin, carlow",carlow,10000,52.71897854110081,-6.850367224077807
2,"Rathornan, Leighlinbridge, carlow",carlow,10000,52.71897854110081,-6.850367224077807
3,"Baunogephlure, Grange, Killerig, carlow",carlow,10000,52.71897854110081,-6.850367224077807
4,"Johnstown, Bennekerry, carlow",carlow,10000,52.71897854110081,-6.850367224077807

In [63]:
# storing into an excel file
df_test_merged.to_excel("Final_Output.xlsx")